[user]
	name = Saúl Ibarra Corretgé
	email = s@saghul.net
[color]
	ui = auto
[github]
	user = saghul
[core]
	editor = vim
	excludesfile = /home/saghul/.gitignore
	pager = delta
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)' --abbrev-commit --
	st = status -sb
        last = rev-parse --short HEAD
        distclean = clean -d -f -x
        b = branch
        c = commit
        ca = commit --amend --no-edit
        cb = !sh -c 'git checkout $(git branch | fzf --height 10)'
        co = checkout
        fixup = commit -a -m "fixup!"
        authors  = shortlog -sn
        pushf = push --force-with-lease
        pushff = push --force
        uncommit = !sh -c 'git reset --soft HEAD^ && git restore --staged .'
        amend = commit --amend --no-edit
[branch]
	autosetuprebase = always
	sort = -committerdate
[push]
	default = current
	autoSetupRemote = true
[help]
	autocorrect = 1
[pull]
	rebase = true
[rebase]
	autoStash = true
	updateRefs = true
[merge]
        conflictstyle = diff3
	renameLimit = 9999
[diff]
        colorMoved = default
	renameLimit = 9999
[http]
	cookiefile = /Users/saghul/.gitcookies
[init]
	defaultBranch = master
[rerere]
	enabled = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[advice]
	skippedCherryPicks = false
[column]
	ui = auto
